.productCard {
    min-height: 306px;
}

.productThumbnail {
    aspect-ratio: 3/3;
}

.placeholder {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .productCard {
        min-height: 375px;
    }
}
