:root {
    --orange: #eb7835;
    --dark-grey: #37383a;
    --light-grey: #e6e6e5;
    --medium-grey: #49494b;
    --beige: #f1f0ed;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--beige);
}

.main-content {
    min-height: calc(100vh - 271px);
}

.btn:hover,
a:hover,
.link:hover,
.nav-link:hover {
    cursor: pointer;
    color: grey;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.text-light-grey {
    color: var(--light-grey);
}

.linebreak {
    background-color: #e6e6e5;
    width: 100%;
    height: 1.5px;
}

/* Define image dimensions to improve CLS  */
img,
.img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
